<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output-1.css" rel="stylesheet" />
    <title>3x157</title>
  </head>
  <body
    class="font-mono bg-gradient-to-b from-gray-900 from-10% via-slate-950 via-40% to-gray-800 to-90% text-gray-100"
  >
    <div class="container mx-auto px-4">
      {% include 'header.html' %}
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 lg:col-span-10">
          {% for page, v in pages.items() %} {{v.content}} {% endfor %}
        </div>
        <div class="invisible lg:visible col-span-2 text-right">
          <ul>
            {% for page, v in pages.items() %}
            <li class="list-item py-3 px-1 text-sm">
              <a href="#{{v.anchor}}" class="underline">{{v.title}}</a>
              <pre class="text-xs">{{v.date}}</pre>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
